.flexbox {
    display: none;
}
.flex-container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 300px;
    height: 500px;
}

.flex-container p {
    flex: 1;
}


.flex-container p {
    max-width: 400px;
}

.grid {
    display: none;
}

.grid-container {
    display: grid;
    width: 800px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.grid-item {
    background-color: red;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    max-height: 200px;
    max-width: 200px;
}

.azul {
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}

.amarillo {
    background-color: yellow;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}


.verde {
    background-color: green;
}


.rojo {
    background-color: red;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: bisque;
}

.nav-container {
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(225, 161, 51);
}

.nav-item {
    background-color: rgb(246, 183, 106);
    padding: 4px;
    border-radius: 3px;
}

.nav-item:hover {
    background-color: rgb(243, 150, 38);
}

.nav-item a {
    color: black;
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.products-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 20px;
}

.product {
}

.footer {
    background-color: rgb(225, 161, 51);
    padding: 10px;
    text-align: center;
}

/* CONTACTO */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    height: 100vh;
}

.contact-form {
    background-color: rgb(225, 161, 51);
    padding: 50px;
    padding-top: 0px;
    border-radius: 10px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-division {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-division label {
    font-size: 25px;
}

.form-division input {
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

textarea {
    min-width: 400px;
    max-width: 400px;
    min-height: 50px;
    max-height: 500px;
    border-radius: 5px;
    font-size: 20px;
}

.form-division button {
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(246, 183, 106);
    cursor: pointer;
}